<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyxy.dao.FunctionMapper">
  <resultMap id="BaseResultMap" type="com.hyxy.entity.Function">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="sup_rank" jdbcType="VARCHAR" property="supRank" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from function
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hyxy.entity.Function">
    insert into function (id, name, rank, 
      sup_rank, url)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{rank,jdbcType=VARCHAR}, 
      #{supRank,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hyxy.entity.Function">
    update function
    set name = #{name,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=VARCHAR},
      sup_rank = #{supRank,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, rank, sup_rank, url
    from function
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, rank, sup_rank, url
    from function
  </select>
</mapper>